header {
  height: 400px;
  width: 100%;
  margin-top: 120px;
  background-color: orange;
  background-image: url("https://www.transparenttextures.com/patterns/asfalt-light.png");
}
header div img {
  margin-right: auto;
  margin-left: auto;
  display: block; 
}

header div h2 {
  text-align: center;
  color: #FFFFFF
}
